@use '../../../../styles/index.scss' as *;

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid $gray200;
  box-shadow: $shadow-sm;

  &__brand{
    @include text-display;
    color: var(--color-primary);
  }
}
