@use '../../../../styles/index.scss' as *;

.card {
  background-color: var(--card-bg, $background);
  border-radius: 0.75rem;
  padding: 0.625rem;
  display: flex;
  gap: 0.3125rem;
  align-items: center;
  color: $gray600;
  width: 100%;

  &__line {
    width: 1px;
    align-self: stretch;
    background-color: $gray300;
    border-radius: 2px;
  }
}